* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bg {
  /* background: -webkit-linear-gradient(right, #3b00de, #7a2ff3, #cc00ff); */
  background-image: url("/background.jpg");
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fm1 {
  background-color: white;
  align-self: center;
  border-radius: 10px;
  margin-top: 4rem;
  padding: 10px;
  justify-content: center;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
}
.head {
  color: #111;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}
.btn {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 350;
  height: 50px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.label-input100 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

input {
  outline: none;
  border: none;
}


.focus-input100::after {
  content: attr(data-symbol);
  font-family: Material-Design-Iconic-Font;
  color: #adadad;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #afafaf;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
a:link {
  color: #696969;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  background-color: #333333;
}

.fa-facebook {
  background: #113a94;
  color: white;
}

.fa-twitter {
  background: #008bf5;
  color: white;
}

.fa-google {
  background: #a51300;
  color: white;
}
.wrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.form-btnnn {
  background: -webkit-linear-gradient(right, #3b00de, #7a2ff3, #cc00ff);
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.form-btnnn:hover {
  background: -webkit-linear-gradient(right, #cc00ff, #7a2ff3, #3b00de);
}
