* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(left, #27c4e3, #a34df1,#fe00ff);
    /* background-image: url("background.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fm1 {
  background-color: white;
  align-self: center;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 10px;
  justify-content: center;
  
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.head {
  color: #111;
  justify-content: center;
  align-items: center;
  display:flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}


.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #c2c0c0;
}

.label-input100 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #333333;
  line-height: 0.9;
  font-weight: 700;
  padding-left: 7px;
}

.input100 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  border:0;
  
  display: block;
  width: 100%;
  height: 54px;
  background: transparent;
  padding: 34 7px 5 43px;
}

input {
  outline: none;
  /* border: none; */
}


.zmdi{

  color: #adadad;
  position: absolute;
  height: calc(100% - 42px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}


a:link {
  color: grey
}
.fa {
  padding: 18px;
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
  transition: transform 2s;
}

.fa:hover {
  background-color: #333333;
}

.fa-facebook {
  background: #113a94;
  color: white;
}

.fa-twitter {
  background: #008bf5;
  color: white;
}

.fa-google {
  background: #a51300;
  color: white;
}
.wrap {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.form-btnnn {
  background: -webkit-linear-gradient(left, #27c4e3, #a34df1,#fe00ff);

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border:none;
  transition: transform 2s;
}
.form-btnnn:hover {
  background: -webkit-linear-gradient(left,#fe00ff, #a34df1, #27c4e3);
}
.form-btnnn:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}
.fa:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}